@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to GC Coffee Shop!</h1>
    <div>
        <p class="lead">Please register with the tab in the top.</p>
    </div>
    
    <img src="~/Content/images.jpg" style="width:300px;height:200px" />
       <img src="~/Content/angel.jpg" style="width:300px;height:250px; float:right" />
    <h2 style="color:yellow;text-align:center;font-size:90px;font-family:Chiller">
        TBH.AOD.Proph
    </h2>
       


</div>